/* Base styles */
:root {
    background-color: #F8F9FA;
}

h1 {
    text-align: center;
    line-height: 5vh;
    color: black;
    font-family: Georgia, serif;
}

header {
    height: 5vh;
}

section {
    height: 100%;
}

footer {
    height: 10vh;
}


/* Layout */
#content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6C757D;
    height: 80vh;

}


#page-options {
    display: flex;
    align-items: center;
    border: 2px solid black;
    height: 50px;
    
}

