:root {
    background-color: #F8F9FA;
}

/* classes */ 
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}


/* ids */
#page-options {
    border: 2px solid black;
    height: 50px;
    display: flex;
}

#matrix {
    border: 2px solid black;
    width: 45%;
}

/* elements */ 
h1 {
    text-align: center;
    line-height: 5vh;
    color: black;
    font-family: Georgia, serif;
}

header {
    height: 5vh;
}

section {
    background-color: #6C757D;
    height: 80vh;
    margin-left: 100px;
    margin-right: 100px;
}

footer {
    height: 10vh;
}
