<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        {% block css_files %}{% endblock %}
    </head>
    <body>
        <header><h1>Matrix Solver</h1></header>
        <main>
            <div id="page-options">
                <nav>
                    <button type="button" onclick="window.location.href='/'">Welcome</button>
                    <button type="button" onclick="window.location.href='/system-of-equations'">System of Equations</button>
                    <button type="button" onclick="window.location.href='/how-to-solve'">How To Solve?</button>
                </nav>
            </div>
            <div id="content">
                {% block main_content %}{% endblock %}
            </div>    
        </main>
        <footer><hr>Made By: Keith Hendricks</footer>
        {% block scripts %}

        {% endblock %}
    </body>
</html>