{% extends 'base.html' %}

{% block title %} System of Equations{% endblock %}
{%block css_files %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/system_of_equations.css') }}">
{% endblock %}


{% block main_content %}
<section id="elimination-techniques">
    <h3>Elimination Techniques</h3>
    <hr>
    <p>Select a following type:</p>
    <form id="solving-method" class="form-container">
        <label><input type="radio" id="gaussian-elimination" name="method">Gaussian Elimination</label>
        <label><input type="radio" id="gauss-jordan-elimination" name="method">Gauss-Jordan Elimination</label>
    </form>
    <script src="{{ url_for('static', filename='js/toggle_radio_buttons.js') }}"></script>

</section>
<section id="matrix-content">
    <div id="matrix-dimensions">
        <h1 >Enter Dimension for Augmented Matrix:</h1>
        <p>Note: Dimensions can only go up to 10.</p>
        <form id="dimension_form">  
            <label for="m-btn">(rows) m: </label>
            <input type="text" name="m" id="m-btn" class="number-entry">
            <label for="n-btn">(columns) n: </label>
            <input type="text" name="n" id="n-btn" class="number-entry">
            <input type="submit" value="Enter">
        </form>
        <script src="{{ url_for('static', filename='js/update_matrix_dimensions.js') }}"></script>
    </div>
    <div id="matrix">
        <form action="{{ url_for('system_of_equations')}}" method="post" id="matrix-form">
            <div id="left-matrix-bracket">
                <div class="horizontal-line"></div>
                <div class="vertical-line" id="left-vertical-line"></div>
                <div class="horizontal-line"></div>
            </div>
            <div id="matrix-entries">
            </div>
            <div id="right-matrix-bracket">
                <div class="horizontal-line"></div>
                <div class="vertical-line" id="right-vertical-line"></div>
                <div class="horizontal-line"></div>
            </div>
            <input id="matrix-values-submit" type="submit" value="Enter Matrix Values">
        </form>
        <script src="{{ url_for('static', filename='js/submit_matrix.js') }}"></script>
    </div>
</section>
<section id="row-operations">
    <h1>Row Operations</h1>
    <div id="row-operations-scroll">
        {% if generated_matrix_content is defined %}
            {% for row_op in generated_matrix_content.row_operations %}
                {{row_op[1] | safe}}
            {% endfor %}
        {% endif %}
    </div>
</section>

{% endblock %}